<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calculator Parameterised Tests Suite">
    <parameter name="num1" value="10.3"/>
    <parameter name="num2" value="20.8"/>
    <listeners>
        <listener class-name="calstests.task10.CustomTestListener"/>
        <listener class-name="calstests.task10.CustomInvokedMethodListener"/>
    </listeners>
    <test name="Calculator Parameterized Tests">
        <classes>
            <class name="calstests.task6.CalculatorParameterisedTest">
            </class>
        </classes>
    </test>
</suite>
